@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
   font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: rgb(87, 156, 9);
}

p{
    color: rgb(65, 207, 47);
    font-size: 20px;
    text-align: center;
}

button{
    border-radius: 50% ;
    height: 100px;
    margin: 0 20px;
    width: 100px;
    background-color: rgb(192, 255, 
    121);
    border: none;
    cursor: pointer;
}
button:hover{
    opacity: 0.8;
}